extends layout

block content
  .inner
    h2= title
    form(action="/account" method="POST")
      label(name="name") Name
      input(type="text" name="name" value=user.name)
      label(name="email") Email
      input(type="email" name="email" value=user.email)
      input.button(type="submit" value="Update My Account")